<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; Designed by Eagle
		</small>
		<nav>
			<ul>
				<li><%= link_to "FAKE FOOTER", "#" %></li>
				<li><%= link_to "FAKE FOOTER", "#" %></li>
			</ul>
		</nav>
	</footer>
</div>